.following-row {
    max-width: 900px;
    margin-bottom: 20px;
}

.follow-block {
    max-width: 500px;
    margin: 15px;
}

.follow-pic {
    width: 50px;
    float: left;
    border-radius: 30px;
}

.follow-info {
    margin-top: 15px;
    margin-left: 10px;
}