.notification {
    max-width: 800px;
    margin: 15px;
}

.unread-status {
    background-color: #17ad00;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    float: left;
    }
.read-status {
    background-color: #292929;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    float: left;
        }

  