.profile-section {
    margin-bottom: 30px;
    max-width: 900px;
}
.avatar-pic {
    text-align: center;
    
}
.username-title {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}
.ranking {
    text-align: center;
}
.profile-info {
    background-color: #050505;
    max-width: 900px;
    padding: 10px;
    
}
.invested-label, .invested, .difference {
    margin: 10px;
    text-align: center;
}

.invested, .difference {
    font-weight: bold;
    font-size: 20px;
}
.profile-portfolio {
   
    max-width: 900px;
    margin-top: 0;
}